body{
	background-image: url("good.jpg");
}

div h1{background-color: #daf8e3;
	padding: 50px;
	color: blue;}

div ul{
	background-color: #eb654d;
	padding: 5px;
	text-align: center;
}



h2{color: white;
text-align: center;
font-size: 30px;}

p{color: white;
font-size: 20px;}

