

div h1{background-color: #daf8e3;
	padding: 50px;
	color: blue;}

div ul{
	background-color: #eb654d;
	padding: 5px;
	text-align: center;
}



div h2{color: blue;
text-align: center;
font-size: 30px;
background-color: #daf8e3;
padding: 50px;}

p{color: #000000;
font-size: 20px;}

